html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
	width:20;

}
body {
background-color:rgb(186, 14, 35);

}

h1 {
text-Align:center;
	background-color:rgb(255,255,255);
	
	border:ridge 5px;
margin-left:100px;
	margin-right:100px;
}

.i{
	background-color:rgb(21, 196, 85);
	
margin-left:700px;
}
.yo {

margin-left:700px;
	padding:30px;
	background-color:rgb(255, 255, 255)


}

script {

margin:200;

}


.h{
background-color: rgb(21, 196, 85);
margin-right:700px;


}

ul{
background-color: rgb(232, 237, 30);
margin-right:700px;

}
